.custom-professional-table {
  /* border-collapse: separate; */
  border-spacing: 0;
  background-color: #f33535;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}
.custom-professional-table thead {
  background-color: #6490ba !important;
  color: white;
}

.custom-professional-table thead th {
  padding: 14px;
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
}

.custom-professional-table tbody td {
  padding: 12px 14px;
  border: none;
  font-size: 0.92rem;
  vertical-align: middle;
}

.custom-professional-table tbody tr:hover {
  background-color: #334d7d;
  transition: background-color 0.3s ease;
}
